<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="description" content="">
    <link id="favicon" rel="icon" href="" type="image/x-icon">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>hi world from HTML land</h1>
    
    <h1>
        <a href="https://node-madlibs-daileytj.c9users.io/?adjective1=red&adjective2=spikey&adjective3=effective&adverb=rapidly&name=Joe&noun=bungee cord&place=Kansas">
        Click to see your MadLib!
        </a>
    </h1>
    

    <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/client.js"></script>
  </body>
</html>
